.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & div {
        margin: 10px;
        padding: 10px;
        font-size: 30px;
    }
    & .logo {
        background-color: #f1f1f1;
    }
    & .user {
        font-size: 24px;
        & img {
            width:8%;
            display: block;
        }
    }   
}